html,
body,
.app{
    height: 100vh;
    background: #eee;
    padding:1rem;
}


/* Messages */

.messages {
    height: 70vh;
    overflow-y: scroll;
}

/* MessagesForm */

.messages__form {
    position: fixed !important;
    bottom: 1em;
    margin-left:320px !important ;
    left:0;
    right:1em;
    z-index: 200;
}