html,
body,
.app{
    height: 100vh;
    background: #eee;
    padding:1rem;
}


/* Messages */

.messages {
    overflow-y: scroll;
    height: 70vh;
}

/* MessagesForm */

.messages__form {
    position: fixed !important;
    bottom: 1em;
    margin-left:320px !important ;
    left:0;
    right:1em;
    z-index: 200;
}

/* message */
.message__self{
    border-left: 2px solid orange;
    padding-left: 8px;
}


.message__image{
    padding: 1em;
}

/* Progress Bar */

.progress__bar{
    margin: 0.3em 0 0 0 !important;
}


/* Sidepanel */

.menu{
    padding-bottom: 2em;
}

/* Colorpannel */

.color__container{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width:35px;
    border-radius: 3px;
}

.color__squre{
    width: 35px;
    border-radius: 35px;
}

.color__overlay{
    width: 85px;
    height: 35px;
    transform: rotate(225deg);
}